/* Login */
    .login-title{
        background-color: #1979FF;
        text-align: center;
        color: #FFFFFF;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .login-title h1{
        font-size: 40px;
    }
/* Fim Login */

/* Login e Cadastro */
    .login, .cadastro{
        border: 1px solid #000;
        width: 600px;
        margin: 80px auto;
    }

    .login h2, .cadastro h2{
        margin: 10px auto;
        width: 500px;
        text-align: center;
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
        font-family: 'Poppins', sans-serif;
    }

    .login div.dados-form{
        text-align: center;
    }

     .cadastro div.dados-form{
         font-weight: bold;
     }

      .cadastro div.dados-form li{
          padding-bottom: 12px;
      }

      .cadastro h4{
          text-align: center;
      }

    .login form, .cadastro form{
        margin: 25px auto;
        list-style-type: none;
        width: 400px;
    }

    .login div.button, .cadastro div.button{
        text-align: center;
    }

/* Fim Login */

/* Barra de Navegação Usuário Logado */
    #pagina-inicial{
        color: #FFFFFF;
        font-family: 'Mulish', sans-serif;
        font-size: 25px;
    }

    .navbar-color{
        background-color: #1979FF;
    }

    .menu-item li{
        border: 2px solid #FFFFFF;
        margin: 2px;
        border-radius: 20px;
    }

    .menu-item li:hover{
        background-color: #FFFFFF;
    }

    .menu-item li:hover a{
        color: #1979FF;
    }

    .menu-link{
        color: #FFFFFF;
        padding: 5px 10px;
        font-family: 'Mulish', sans-serif;
        line-height: 30px;
    }

    .bem-vindo{
        width: 40%;
        margin-top: 8px;
        text-align: right;
    }

    .bem-vindo h6{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
/* Fim Barra de navegação Logado */


/* Listar */
    .listaClientes{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .listaClientes h2{
        margin-bottom: 15px;
        font-family: 'Poppins', sans-serif;
    }

/* Fim Listar */
