{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock title %}</title>

    <!-- CSS e Links Externos-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
        <span>Bem-vindo, {{user.username}}</span>
        <span> <a href="{% url 'logout' %}">Sair</a> </span>
    {% endif %}

    <div>
        <h1><a href="{% url 'cadastrarCliente' %}">Novo Cliente</a></h1>
    </div>


    {% block content %}

    {% endblock content %}
</body>
</html>